@import url('https://fonts.googleapis.com/css?family=Fira+Mono:700|Fira+Sans:700');
// typography
$font: 'Fira Mono', 'Fira Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
  Helvetica, Arial, 'Lucida Grande', sans-serif;
// colors
$primary-dark: #23272c;
$primary-med: #8e99a8;
$primary-light: #f3f4f6;
// sizes
$border-size: 0.3125em;

@keyframes ROTATE_REFRESH {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body.toplevel_page_css-stats {
  background-color: rgba($primary-light, 0.5);
}
.css-stats-header {
  font-family: $font;
  font-weight: bold;
  color: $primary-dark;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1.875em 0 0.375em;
  width: calc(100% - 32px);

  &__title {
    display: inline-block;
    border: $border-size solid $primary-dark;
    padding: 0.675em 1.25em;
    font-size: 1.5em;
    box-shadow: 12px 12px 0 0 $primary-med;
    line-height: 1;
  }

  &__filepath {
    width: 37em;
    margin-right: 1em;
  }

  &__filepath__input {
    display: block;
    width: 100%;
    margin-top: 0.5em;
    border: $border-size solid $primary-med;

    &:focus,
    &:active {
      border: $border-size solid $primary-dark;
      outline: none;
    }
  }

  &__refresh {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: all 0.25s ease-in;

    &:hover {
      transform: rotate(30deg);
    }

    &:active,
    &:focus {
      outline: none;
    }

    &--loading {
      animation: ROTATE_REFRESH 0.75s 1;
    }

    & svg {
      width: 100%;
      height: auto;
    }
  }
}
.css-stats-output {
  width: calc(100% - 32px);
  box-shadow: 12px 12px 0 0 $primary-med;
  margin: 2.5em 0;
  padding: 0;

  font-family: $font;
  font-weight: bold;
  color: $primary-dark;

  &__row {
    display: flex;
    border: $border-size solid $primary-dark;
    border-top: none;

    &--header {
      background-color: $primary-dark;
      color: $primary-light;
      border-top: $border-size solid $primary-dark;
    }

    & > * {
      flex-basis: 23.75em;
      padding: 1em 1.5em;
      line-height: 1;
      border-right: $border-size solid $primary-dark;
    }

    & > *:last-child {
      flex: 1;
      border: none;
      word-break: break-word;
      line-height: 1.4;
    }
  }
}

.css-stats-info {
  font-family: $font;
  margin: 5em 0;
  width: calc(100% - 32px);

  &__left {
    width: calc(80% - 1.25em);
    margin-bottom: 2em;
  }

  &__right {
    width: calc(80% - 1.25em);
  }

  &__heading {
    color: $primary-light;
    background-color: $primary-dark;
    box-shadow: 8px 8px 0 0 $primary-med;
    font-size: 1em;
    padding: 0.75em 1.5em;
    margin: 1em 0 1.75em;
  }

  &__body {
    color: $primary-dark;
    line-height: 1.5;

    & > strong {
      color: $primary-med;
    }
  }
}

.u-flex-one {
  flex: 1;
}
